.expense-date__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  /* width: 5.5rem;
  height: 5.5rem; */
  background-color: #2a2a2a;
  border-radius: 10px;
  border: 1px solid white;
}

.expense-date__month {
  font-weight: bold;
  color: white;
}

.expense-date__day {
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
}

.expense-date__year {
  font-weight: bold;
  color: white;
}
